@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --main-color: linear-gradient(to bottom, orange 30%, green 70%);
}

* {
    font-family: 'Sofia Sans Condensed', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 45px;
    font-weight: 600;
}
h2 {
    font-size: 25px;
    font-weight: 400;
}
p {
    font-size: 18px;
    font-weight: 300;
}

.main {
    width: 100%;
}
.main .bg {
    width: 100%;
    height: 100vh;
    filter: blur(3px);
    position: relative;
}
.main .head {
    width: 100%;
    position: absolute;
    top: 0;
    left: 33%;
}
.main .head h1 {
    background: var(--main-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 10px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.main .head img {
    width: 650px;
    right: 750px;
    height: 150px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.main .schedule {
    position: absolute;
    top: 250px;
    width: 95%;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 30px;
}
.main .schedule .sched-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px green solid;
    padding: 0 10px 0 10px;
    border-radius: 30px;
    opacity: 1;
    background: linear-gradient(rgba(249, 104, 10, .1), rgba(46, 204, 113, .1));
}
.main .schedule .sched-box h2 {
    border-bottom: 1px green solid;
    border-radius: 20px;
    padding: 0 10px 15px 10px;
}
.main .schedule .sched-box .lesson-box {
    border-bottom: 1px green solid;
}
.main .schedule .sched-box .lesson-box:last-child {
    border-bottom: 0;
} 
.main .schedule .sched-box .lesson-box p {
    display: flex;
    justify-content: space-between;
}
#lecture {
    border: 0px solid greenyellow;
    background: greenyellow;
    padding: 10px;
    border-radius: 15px;
}
#lab {
    border: 0px solid cyan;
    background: cyan;
    padding: 10px;
    border-radius: 15px;
}
#sem {
    border: 0px solid pink;
    background: pink;
    padding: 10px;
    border-radius: 15px;
}
.main .switcher {
    position: absolute;
    top: 25%;
    z-index: 99;
    width: 100%;
    height: 10vh;
    left: 3%;
}
.main .switcher button {
    border: 1px solid green;
    border-radius: 20px;
    background: linear-gradient(rgba(249, 104, 10, .1), rgba(46, 204, 113, .1));
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: .4s ease;
}
.main .switcher button:hover {
    background: linear-gradient(rgba(249, 104, 10, .1), rgba(46, 204, 113, .4));
    transition: .4s ease;
}
.main .switcher button a {
    text-decoration: none;
    color: #111;
}